[Unit]
Description=Socket for TCP Echo Daemon
Documentation=man:systemd.socket(5)

[Socket]
ListenStream=9090
Accept=no
BindIPv6Only=default

[Install]
WantedBy=sockets.target
